In [1]:
import pandas as pd
import numpy as np
import glob
import re

In [3]:
path_data = '/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/'

list_file = glob.glob(path_data + 'icu/*.csv')
for f in list_file:
    print(f)

/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/datetimeevents.csv
/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/caregiver.csv
/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/procedureevents.csv
/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/d_items.csv
/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/ingredientevents.csv
/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/outputevents.csv
/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/icustays.csv
/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/chartevents.csv
/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/inputevents.csv

In [4]:
!du -sh /media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/*

/bin/bash: /media/data/huyennm/miniconda3/lib/libtinfo.so.6: no version information available (required by /bin/bash)
70M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/admissions.csv
3,2M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/d_hcpcs.csv
129M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/diagnoses_icd.csv
8,5M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/d_icd_diagnoses.csv
7,1M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/d_icd_procedures.csv
64K	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/d_labitems.csv
41M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/drgcodes.csv
3,7G	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/emar.csv
5,1G	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/emar_detail.csv
9,3M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/hcpcsevents.csv
4,0K	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/index.html
13G	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/labevents.csv
707M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/microbiologyevents.csv
254M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/omr.csv
9,5M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/patients.csv
2,9G	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/pharmacy.csv
3,6G	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/poe.csv
215M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/poe_detail.csv
2,5G	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/prescriptions.csv
26M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/procedures_icd.csv
280K	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/provider.csv
20M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/services.csv
151M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/transfers.csv

In [5]:
!du -sh /media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/*

/bin/bash: /media/data/huyennm/miniconda3/lib/libtinfo.so.6: no version information available (required by /bin/bash)
92K	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/caregiver.csv
29G	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/chartevents.csv
742M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/datetimeevents.csv
360K	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/d_items.csv
11M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/icustays.csv
4,0K	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/index.html
1,9G	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/ingredientevents.csv
2,2G	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/inputevents.csv
349M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/outputevents.csv
124M	/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/procedureevents.csv

In [3]:
diag_item = pd.read_csv('/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/d_icd_diagnoses.csv')
diag_item

,icd_code,icd_version,long_title
0,0010,9,Cholera due to vibrio cholerae
1,0011,9,Cholera due to vibrio cholerae el tor
2,0019,9,"Cholera, unspecified"
3,0020,9,Typhoid fever
4,0021,9,Paratyphoid fever A
...,...,...,...
109770,Z992,10,Dependence on renal dialysis
109771,Z993,10,Dependence on wheelchair
109772,Z998,10,Dependence on other enabling machines and devices
109773,Z9981,10,Dependence on supplemental oxygen
109774,Z9989,10,Dependence on other enabling machines and devices

In [5]:
comor = pd.read_csv('/media/data/huyennm/mimic-iv/notebook/comorbidity/comorbidity_results/patients_with_comorbidity.csv')

columns_to_ignore = ['subject_id', 'hadm_id', 'stay_id']
columns_to_check = [col for col in comor.columns if col not in columns_to_ignore]

# Duyệt qua từng cột và in tỉ lệ 1/0
for column in columns_to_check:
    total_1 = comor[column].sum()  # Đếm số lượng 1
    total_0 = (comor[column] == 0).sum()  # Đếm số lượng 0
    
    if total_0 > 0:
        ratio_1_0 = (total_1 / (total_1 + total_0)) * 100
    else:
        ratio_1_0 = "Inf"  # Tránh chia cho 0
    
    # In kết quả
    print(f'Column: {column}, Total 1: {total_1}, Total 0: {total_0}, Ratio 1/total: {ratio_1_0}')

Column: sepsis, Total 1: 7730, Total 0: 2480, Ratio 1/total: 75.71008814887365
Column: anemia, Total 1: 6018, Total 0: 4192, Ratio 1/total: 58.94221351616062
Column: ami, Total 1: 206, Total 0: 10004, Ratio 1/total: 2.0176297747306564
Column: ventricular_arrhythmia, Total 1: 1263, Total 0: 8947, Ratio 1/total: 12.37022526934378
Column: diabetes, Total 1: 4524, Total 0: 5686, Ratio 1/total: 44.309500489715965
Column: valvular_disease, Total 1: 3809, Total 0: 6401, Ratio 1/total: 37.306562193927526
Column: ckd, Total 1: 3980, Total 0: 6230, Ratio 1/total: 38.98139079333986
Column: pneumonia, Total 1: 3068, Total 0: 7142, Ratio 1/total: 30.048971596474043
Column: copd, Total 1: 1670, Total 0: 8540, Ratio 1/total: 16.35651322233105
Column: atrial_fibrillation, Total 1: 5278, Total 0: 4932, Ratio 1/total: 51.694417238001954
Column: aki, Total 1: 5019, Total 0: 5191, Ratio 1/total: 49.157688540646426
Column: angina_pectoris, Total 1: 683, Total 0: 9527, Ratio 1/total: 6.689520078354555
Column: liver_cirrhosis, Total 1: 510, Total 0: 9700, Ratio 1/total: 4.995102840352596
Column: pleural_effusion, Total 1: 932, Total 0: 9278, Ratio 1/total: 9.128305582761998
Column: omi, Total 1: 1573, Total 0: 8637, Ratio 1/total: 15.406464250734576
Column: hypertension, Total 1: 6192, Total 0: 4018, Ratio 1/total: 60.6464250734574
Column: hepatitis, Total 1: 534, Total 0: 9676, Ratio 1/total: 5.230166503428012
Column: stroke, Total 1: 718, Total 0: 9492, Ratio 1/total: 7.03232125367287
Column: pe, Total 1: 616, Total 0: 9594, Ratio 1/total: 6.0333006856023506

## search with icd_code or long_title

In [44]:
diag_item[diag_item['icd_code'] == '42731']

     icd_code  icd_version           long_title
4810    42731            9  Atrial fibrillation

In [52]:
filtered_item = diag_item[diag_item['long_title'].str.contains('heart failure', case=False)]
filtered_item

      icd_code  icd_version                                         long_title
4647     39891            9               Rheumatic heart failure (congestive)
4652     40200            9  Malignant hypertensive heart disease without h...
4653     40201            9  Malignant hypertensive heart disease with hear...
4654     40210            9  Benign hypertensive heart disease without hear...
4655     40211            9  Benign hypertensive heart disease with heart f...
...        ...          ...                                                ...
24807    I5089           10                                Other heart failure
24808     I509           10                         Heart failure, unspecified
26139    I9713           10                       Postprocedural heart failure
26140   I97130           10  Postprocedural heart failure following cardiac...
26141   I97131           10  Postprocedural heart failure following other s...

[73 rows x 3 columns]

In [5]:
filtered_item.to_csv('/media/data/huyennm/mimic-iv/notebook/comorbidity/comorbidity_results/pneumonia/pneumonia_list_diag.csv')

In [11]:
merge = filtered_pneumonia.merge(filtered_item, how='left', indicator=True).query('_merge == "left_only"').drop(columns='_merge')
merge

   icd_code  icd_version                                         long_title
25     4871            9    Influenza with other respiratory manifestations
26     4878            9                Influenza with other manifestations
27      488            9                            Flu d/t avian flu virus
28     4880            9  Influenza due to identified avian influenza virus
30    48802            9  Influenza due to identified avian influenza vi...
31    48809            9  Influenza due to identified avian influenza vi...
32     4881            9  Influenza due to identified novel H1N1 influen...
34    48812            9  Influenza due to identified 2009 H1N1 influenz...
35    48819            9  Influenza due to identified 2009 H1N1 influenz...
37     5060            9  Bronchitis and pneumonitis due to fumes and va...
38     5061            9      Acute pulmonary edema due to fumes and vapors
39     5062            9  Upper respiratory inflammation due to fumes an...
40     5063            9  Other acute and subacute respiratory condition...
41     5064            9  Chronic respiratory conditions due to fumes an...
42     5069            9  Unspecified respiratory conditions due to fume...
43     5070            9   Pneumonitis due to inhalation of food or vomitus
44     5071            9  Pneumonitis due to inhalation of oils and esse...
45     5078            9        Pneumonitis due to other solids and liquids

In [40]:
filtered_item['long_title'].tolist()

['Salmonella pneumonia',
 'Tuberculous pneumonia [any form], unspecified',
 'Tuberculous pneumonia [any form], bacteriological or histological examination not done',
 'Tuberculous pneumonia [any form], bacteriological or histological examination unknown (at present)',
 'Tuberculous pneumonia [any form], tubercle bacilli found (in sputum) by microscopy',
 'Tuberculous pneumonia [any form], tubercle bacilli not found (in sputum) by microscopy, but found by bacterial culture',
 'Tuberculous pneumonia [any form], tubercle bacilli not found by bacteriological examination, but tuberculosis confirmed histologically',
 'Tuberculous pneumonia [any form], tubercle bacilli not found by bacteriological or histological examination, but tuberculosis confirmed by other methods [inoculation of animals]',
 'Pneumococcal septicemia [Streptococcus pneumoniae septicemia]',
 'Postmeasles pneumonia',
 'Ornithosis with pneumonia',
 'Infection by Histoplasma capsulatum, pneumonia',
 'Infection by Histoplasma duboisii, pneumonia',
 'Histoplasmosis, unspecified, pneumonia',
 'Pneumonia due to adenovirus',
 'Pneumonia due to respiratory syncytial virus',
 'Pneumonia due to parainfluenza virus',
 'Pneumonia due to SARS-associated coronavirus',
 'Pneumonia due to other virus not elsewhere classified',
 'Viral pneumonia, unspecified',
 'Pneumococcal pneumonia [Streptococcus pneumoniae pneumonia]',
 'Pneumonia due to Klebsiella pneumoniae',
 'Pneumonia due to Pseudomonas',
 'Pneumonia due to Hemophilus influenzae [H. influenzae]',
 'Pneumonia due to Streptococcus, unspecified',
 'Pneumonia due to Streptococcus, group A',
 'Pneumonia due to Streptococcus, group B',
 'Pneumonia due to other Streptococcus',
 'Pneumonia due to Staphylococcus, unspecified',
 'Methicillin susceptible pneumonia due to Staphylococcus aureus',
 'Methicillin resistant pneumonia due to Staphylococcus aureus',
 'Other Staphylococcus pneumonia',
 'Pneumonia due to anaerobes',
 'Pneumonia due to escherichia coli [E. coli]',
 'Pneumonia due to other gram-negative bacteria',
 "Pneumonia due to Legionnaires' disease",
 'Pneumonia due to other specified bacteria',
 'Bacterial pneumonia, unspecified',
 'Pneumonia due to mycoplasma pneumoniae',
 'Pneumonia due to chlamydia',
 'Pneumonia due to other specified organism',
 'Pneumonia in cytomegalic inclusion disease',
 'Pneumonia in whooping cough',
 'Pneumonia in anthrax',
 'Pneumonia in aspergillosis',
 'Pneumonia in other systemic mycoses',
 'Pneumonia in other infectious diseases classified elsewhere',
 'Bronchopneumonia, organism unspecified',
 'Pneumonia, organism unspecified',
 'Influenza with pneumonia',
 'Influenza due to identified avian influenza virus with pneumonia',
 'Influenza due to identified 2009 H1N1 influenza virus with pneumonia',
 'Influenza due to identified novel influenza A virus with pneumonia',
 'Idiopathic interstitial pneumonia, not otherwise specified',
 'Idiopathic lymphoid interstitial pneumonia',
 'Cryptogenic organizing pneumonia',
 'Desquamative interstitial pneumonia',
 'Rheumatic pneumonia',
 'Congenital pneumonia',
 'Ventilator associated pneumonia',
 'Postprocedural aspiration pneumonia',
 'Typhoid pneumonia',
 'Salmonella pneumonia',
 'Whooping cough due to Bordetella pertussis without pneumonia',
 'Whooping cough due to Bordetella pertussis with pneumonia',
 'Whooping cough due to Bordetella parapertussis without pneumonia',
 'Whooping cough due to Bordetella parapertussis with pneumonia',
 'Whooping cough due to other Bordetella species without pneumonia',
 'Whooping cough due to other Bordetella species with pneumonia',
 'Whooping cough, unspecified species without pneumonia',
 'Whooping cough, unspecified species with pneumonia',
 'Sepsis due to Streptococcus pneumoniae',
 'Early congenital syphilitic pneumonia',
 'Gonococcal pneumonia',
 'Varicella pneumonia',
 'Measles complicated by pneumonia',
 'Rubella pneumonia',
 'Ascariasis pneumonia',
 'Streptococcus pneumoniae as the cause of diseases classified elsewhere',
 'Mycoplasma pneumoniae [M. pneumoniae] as the cause of diseases classified elsewhere',
 'Klebsiella pneumoniae [K. pneumoniae] as the cause of diseases classified elsewhere',
 'Influenza due to identified novel influenza A virus with pneumonia',
 'Influenza due to other identified influenza virus with pneumonia',
 'Influenza due to other identified influenza virus with unspecified type of pneumonia',
 'Influenza due to other identified influenza virus with the same other identified influenza virus pneumonia',
 'Influenza due to other identified influenza virus with other specified pneumonia',
 'Influenza due to unidentified influenza virus with pneumonia',
 'Influenza due to unidentified influenza virus with unspecified type of pneumonia',
 'Influenza due to unidentified influenza virus with specified pneumonia',
 'Viral pneumonia, not elsewhere classified',
 'Adenoviral pneumonia',
 'Respiratory syncytial virus pneumonia',
 'Parainfluenza virus pneumonia',
 'Human metapneumovirus pneumonia',
 'Other viral pneumonia',
 'Pneumonia due to SARS-associated coronavirus',
 'Other viral pneumonia',
 'Viral pneumonia, unspecified',
 'Pneumonia due to Streptococcus pneumoniae',
 'Pneumonia due to Hemophilus influenzae',
 'Bacterial pneumonia, not elsewhere classified',
 'Pneumonia due to Klebsiella pneumoniae',
 'Pneumonia due to Pseudomonas',
 'Pneumonia due to staphylococcus',
 'Pneumonia due to staphylococcus, unspecified',
 'Pneumonia due to staphylococcus aureus',
 'Pneumonia due to Methicillin susceptible Staphylococcus aureus',
 'Pneumonia due to Methicillin resistant Staphylococcus aureus',
 'Pneumonia due to other staphylococcus',
 'Pneumonia due to streptococcus, group B',
 'Pneumonia due to other streptococci',
 'Pneumonia due to Escherichia coli',
 'Pneumonia due to other Gram-negative bacteria',
 'Pneumonia due to Mycoplasma pneumoniae',
 'Pneumonia due to other specified bacteria',
 'Unspecified bacterial pneumonia',
 'Pneumonia due to other infectious organisms, not elsewhere classified',
 'Chlamydial pneumonia',
 'Pneumonia due to other specified infectious organisms',
 'Pneumonia in diseases classified elsewhere',
 'Pneumonia, unspecified organism',
 'Bronchopneumonia, unspecified organism',
 'Lobar pneumonia, unspecified organism',
 'Hypostatic pneumonia, unspecified organism',
 'Other pneumonia, unspecified organism',
 'Pneumonia, unspecified organism',
 'Acute bronchitis due to Mycoplasma pneumoniae',
 'Idiopathic interstitial pneumonia',
 'Idiopathic interstitial pneumonia, not otherwise specified',
 'Cryptogenic organizing pneumonia',
 'Desquamative interstitial pneumonia',
 'Lymphoid interstitial pneumonia',
 'Abscess of lung with pneumonia',
 'Abscess of lung without pneumonia',
 'Ventilator associated pneumonia',
 'Congenital pneumonia',
 'Congenital pneumonia due to viral agent',
 'Congenital pneumonia due to Chlamydia',
 'Congenital pneumonia due to staphylococcus',
 'Congenital pneumonia due to streptococcus, group B',
 'Congenital pneumonia due to Escherichia coli',
 'Congenital pneumonia due to Pseudomonas',
 'Congenital pneumonia due to other bacterial agents',
 'Congenital pneumonia due to other organisms',
 'Congenital pneumonia, unspecified',
 'Other specified vaccinations against streptococcus pneumoniae [pneumococcus]',
 'Need for prophylactic vaccination and inoculation against streptococcus pneumoniae [pneumococcus] and influenza',
 'Personal history of pneumonia (recurrent)',
 'Personal history of pneumonia (recurrent)']

# Test icd code CHF

In [14]:
cond_icd9 = (
    (diag_item['icd_code'].str[:3] == '428') |
    (diag_item['icd_code'].str[:5].isin(['39891', '40201', '40211', '40291', '40401', '40403', '40411', '40413', '40491', '40493'])) |
    (diag_item['icd_code'].str[:4].between('4254', '4259'))
)

In [15]:
cond_icd10 = (
    (diag_item['icd_code'].str[:3].isin(['I43', 'I50'])) |
    (diag_item['icd_code'].str[:4].isin(['I099', 'I110', 'I130', 'I132', 'I255', 'I420', 'I425', 'I426', 'I427', 'I428', 'I429', 'P290']))
)
filtered_diag_item_10 = diag_item[cond_icd10]
filtered_diag_item_10

      icd_code  icd_version                                         long_title
24497     I099           10               Rheumatic heart disease, unspecified
24500     I110           10      Hypertensive heart disease with heart failure
24506     I130           10  Hypertensive heart and chronic kidney disease ...
24510     I132           10  Hypertensive heart and chronic kidney disease ...
24577     I255           10                            Ischemic cardiomyopathy
24707     I420           10                             Dilated cardiomyopathy
24712     I425           10                   Other restrictive cardiomyopathy
24713     I426           10                           Alcoholic cardiomyopathy
24714     I427           10      Cardiomyopathy due to drug and external agent
24715     I428           10                             Other cardiomyopathies
24716     I429           10                        Cardiomyopathy, unspecified
24717      I43           10    Cardiomyopathy in diseases classified elsewhere
24780      I50           10                                      Heart failure
24781     I501           10              Left ventricular failure, unspecified
24782     I502           10                Systolic (congestive) heart failure
24783    I5020           10    Unspecified systolic (congestive) heart failure
24784    I5021           10          Acute systolic (congestive) heart failure
24785    I5022           10        Chronic systolic (congestive) heart failure
24786    I5023           10  Acute on chronic systolic (congestive) heart f...
24787     I503           10               Diastolic (congestive) heart failure
24788    I5030           10   Unspecified diastolic (congestive) heart failure
24789    I5031           10         Acute diastolic (congestive) heart failure
24790    I5032           10       Chronic diastolic (congestive) heart failure
24791    I5033           10  Acute on chronic diastolic (congestive) heart ...
24792     I504           10  Combined systolic (congestive) and diastolic (...
24793    I5040           10  Unspecified combined systolic (congestive) and...
24794    I5041           10  Acute combined systolic (congestive) and diast...
24795    I5042           10  Chronic combined systolic (congestive) and dia...
24796    I5043           10  Acute on chronic combined systolic (congestive...
24797     I508           10                                Other heart failure
24798    I5081           10                                Right heart failure
24799   I50810           10                   Right heart failure, unspecified
24800   I50811           10                          Acute right heart failure
24801   I50812           10                        Chronic right heart failure
24802   I50813           10               Acute on chronic right heart failure
24803   I50814           10      Right heart failure due to left heart failure
24804    I5082           10                        Biventricular heart failure
24805    I5083           10                          High output heart failure
24806    I5084           10                            End stage heart failure
24807    I5089           10                                Other heart failure
24808     I509           10                         Heart failure, unspecified
41100     P290           10                           Neonatal cardiac failure

In [16]:
filtered_diag_item_all = diag_item[cond_icd9 | cond_icd10]
filtered_diag_item_all.to_csv('list_chf_diagnoses.csv', index=False)

In [17]:
filtered_diag_item_all['long_title'].tolist()

['Rheumatic heart failure (congestive)',
 'Malignant hypertensive heart disease with heart failure',
 'Benign hypertensive heart disease with heart failure',
 'Unspecified hypertensive heart disease with heart failure',
 'Hypertensive heart and chronic kidney disease, malignant, with heart failure and with chronic kidney disease stage I through stage IV, or unspecified',
 'Hypertensive heart and chronic kidney disease, malignant, with heart failure and with chronic kidney disease stage V or end stage renal disease',
 'Hypertensive heart and chronic kidney disease, benign, with heart failure and with chronic kidney disease stage I through stage IV, or unspecified',
 'Hypertensive heart and chronic kidney disease, benign, with heart failure and chronic kidney disease stage V or end stage renal disease',
 'Hypertensive heart and chronic kidney disease, unspecified, with heart failure and with chronic kidney disease stage I through stage IV, or unspecified',
 'Hypertensive heart and chronic kidney disease, unspecified, with heart failure and chronic kidney disease stage V or end stage renal disease',
 'Other primary cardiomyopathies',
 'Alcoholic cardiomyopathy',
 'Nutritional and metabolic cardiomyopathy',
 'Cardiomyopathy in other diseases classified elsewhere',
 'Secondary cardiomyopathy, unspecified',
 'Congestive heart failure, unspecified',
 'Left heart failure',
 'Systolic heart failure, unspecified',
 'Acute systolic heart failure',
 'Chronic systolic heart failure',
 'Acute on chronic systolic heart failure',
 'Diastolic heart failure, unspecified',
 'Acute diastolic heart failure',
 'Chronic diastolic heart failure',
 'Acute on chronic diastolic heart failure',
 'Combined systolic and diastolic heart failure, unspecified',
 'Acute combined systolic and diastolic heart failure',
 'Chronic combined systolic and diastolic heart failure',
 'Acute on chronic combined systolic and diastolic heart failure',
 'Heart failure, unspecified',
 'Rheumatic heart disease, unspecified',
 'Hypertensive heart disease with heart failure',
 'Hypertensive heart and chronic kidney disease with heart failure and stage 1 through stage 4 chronic kidney disease, or unspecified chronic kidney disease',
 'Hypertensive heart and chronic kidney disease with heart failure and with stage 5 chronic kidney disease, or end stage renal disease',
 'Ischemic cardiomyopathy',
 'Dilated cardiomyopathy',
 'Other restrictive cardiomyopathy',
 'Alcoholic cardiomyopathy',
 'Cardiomyopathy due to drug and external agent',
 'Other cardiomyopathies',
 'Cardiomyopathy, unspecified',
 'Cardiomyopathy in diseases classified elsewhere',
 'Heart failure',
 'Left ventricular failure, unspecified',
 'Systolic (congestive) heart failure',
 'Unspecified systolic (congestive) heart failure',
 'Acute systolic (congestive) heart failure',
 'Chronic systolic (congestive) heart failure',
 'Acute on chronic systolic (congestive) heart failure',
 'Diastolic (congestive) heart failure',
 'Unspecified diastolic (congestive) heart failure',
 'Acute diastolic (congestive) heart failure',
 'Chronic diastolic (congestive) heart failure',
 'Acute on chronic diastolic (congestive) heart failure',
 'Combined systolic (congestive) and diastolic (congestive) heart failure',
 'Unspecified combined systolic (congestive) and diastolic (congestive) heart failure',
 'Acute combined systolic (congestive) and diastolic (congestive) heart failure',
 'Chronic combined systolic (congestive) and diastolic (congestive) heart failure',
 'Acute on chronic combined systolic (congestive) and diastolic (congestive) heart failure',
 'Other heart failure',
 'Right heart failure',
 'Right heart failure, unspecified',
 'Acute right heart failure',
 'Chronic right heart failure',
 'Acute on chronic right heart failure',
 'Right heart failure due to left heart failure',
 'Biventricular heart failure',
 'High output heart failure',
 'End stage heart failure',
 'Other heart failure',
 'Heart failure, unspecified',
 'Neonatal cardiac failure']

## my present way to search for chf patients

In [8]:
diag_item[diag_item['icd_code'].isin(["39891", "4280", "4281", "4282",
             "42820", "42821", "42822", "42823",
             "4283", "42830", "42831", "42832", "42833",
             "4284", "42840", "42841", "42842", "42843",
             "4289"])]

     icd_code  icd_version                                         long_title
4647    39891            9               Rheumatic heart failure (congestive)
4821     4280            9              Congestive heart failure, unspecified
4822     4281            9                                 Left heart failure
4823    42820            9                Systolic heart failure, unspecified
4824    42821            9                       Acute systolic heart failure
4825    42822            9                     Chronic systolic heart failure
4826    42823            9            Acute on chronic systolic heart failure
4827    42830            9               Diastolic heart failure, unspecified
4828    42831            9                      Acute diastolic heart failure
4829    42832            9                    Chronic diastolic heart failure
4830    42833            9           Acute on chronic diastolic heart failure
4831    42840            9  Combined systolic and diastolic heart failure,...
4832    42841            9  Acute combined systolic and diastolic heart fa...
4833    42842            9  Chronic combined systolic and diastolic heart ...
4834    42843            9  Acute on chronic combined systolic and diastol...
4835     4289            9                         Heart failure, unspecified

## pneumonia

In [38]:
cond_pneumonia = (
    (diag_item['icd_code'].between('486', '48881')) |
    (diag_item['icd_code'].between('480', '48099')) |
    (diag_item['icd_code'].between('482', '48299')) |
    (diag_item['icd_code'].between('506', '5078'))
)
filtered_pneumonia = diag_item[cond_pneumonia]
filtered_pneumonia

     icd_code  icd_version                                         long_title
5178     4800            9                        Pneumonia due to adenovirus
5179     4801            9       Pneumonia due to respiratory syncytial virus
5180     4802            9               Pneumonia due to parainfluenza virus
5181     4803            9       Pneumonia due to SARS-associated coronavirus
5182     4808            9  Pneumonia due to other virus not elsewhere cla...
5183     4809            9                       Viral pneumonia, unspecified
5185     4820            9             Pneumonia due to Klebsiella pneumoniae
5186     4821            9                       Pneumonia due to Pseudomonas
5187     4822            9  Pneumonia due to Hemophilus influenzae [H. inf...
5188    48230            9        Pneumonia due to Streptococcus, unspecified
5189    48231            9            Pneumonia due to Streptococcus, group A
5190    48232            9            Pneumonia due to Streptococcus, group B
5191    48239            9               Pneumonia due to other Streptococcus
5192    48240            9       Pneumonia due to Staphylococcus, unspecified
5193    48241            9  Methicillin susceptible pneumonia due to Staph...
5194    48242            9  Methicillin resistant pneumonia due to Staphyl...
5195    48249            9                     Other Staphylococcus pneumonia
5196    48281            9                         Pneumonia due to anaerobes
5197    48282            9        Pneumonia due to escherichia coli [E. coli]
5198    48283            9      Pneumonia due to other gram-negative bacteria
5199    48284            9             Pneumonia due to Legionnaires' disease
5200    48289            9          Pneumonia due to other specified bacteria
5201     4829            9                   Bacterial pneumonia, unspecified
5212      486            9                    Pneumonia, organism unspecified
5213     4870            9                           Influenza with pneumonia
5214     4871            9    Influenza with other respiratory manifestations
5215     4878            9                Influenza with other manifestations
5216      488            9                            Flu d/t avian flu virus
5217     4880            9  Influenza due to identified avian influenza virus
5218    48801            9  Influenza due to identified avian influenza vi...
5219    48802            9  Influenza due to identified avian influenza vi...
5220    48809            9  Influenza due to identified avian influenza vi...
5221     4881            9  Influenza due to identified novel H1N1 influen...
5222    48811            9  Influenza due to identified 2009 H1N1 influenz...
5223    48812            9  Influenza due to identified 2009 H1N1 influenz...
5224    48819            9  Influenza due to identified 2009 H1N1 influenz...
5225    48881            9  Influenza due to identified novel influenza A ...
5271     5060            9  Bronchitis and pneumonitis due to fumes and va...
5272     5061            9      Acute pulmonary edema due to fumes and vapors
5273     5062            9  Upper respiratory inflammation due to fumes an...
5274     5063            9  Other acute and subacute respiratory condition...
5275     5064            9  Chronic respiratory conditions due to fumes an...
5276     5069            9  Unspecified respiratory conditions due to fume...
5277     5070            9   Pneumonitis due to inhalation of food or vomitus
5278     5071            9  Pneumonitis due to inhalation of oils and esse...
5279     5078            9        Pneumonitis due to other solids and liquids

In [9]:
list_filtered_pneumonia = filtered_pneumonia['icd_code'].tolist()
len(list_filtered_pneumonia)

46

In [31]:
filtered_pneumonia['long_title'].tolist()

['Pneumonia due to adenovirus',
 'Pneumonia due to respiratory syncytial virus',
 'Pneumonia due to parainfluenza virus',
 'Pneumonia due to SARS-associated coronavirus',
 'Pneumonia due to other virus not elsewhere classified',
 'Viral pneumonia, unspecified',
 'Pneumonia due to Klebsiella pneumoniae',
 'Pneumonia due to Pseudomonas',
 'Pneumonia due to Hemophilus influenzae [H. influenzae]',
 'Pneumonia due to Streptococcus, unspecified',
 'Pneumonia due to Streptococcus, group A',
 'Pneumonia due to Streptococcus, group B',
 'Pneumonia due to other Streptococcus',
 'Pneumonia due to Staphylococcus, unspecified',
 'Methicillin susceptible pneumonia due to Staphylococcus aureus',
 'Methicillin resistant pneumonia due to Staphylococcus aureus',
 'Other Staphylococcus pneumonia',
 'Pneumonia due to anaerobes',
 'Pneumonia due to escherichia coli [E. coli]',
 'Pneumonia due to other gram-negative bacteria',
 "Pneumonia due to Legionnaires' disease",
 'Pneumonia due to other specified bacteria',
 'Bacterial pneumonia, unspecified',
 'Pneumonia, organism unspecified',
 'Influenza with pneumonia',
 'Influenza with other respiratory manifestations',
 'Influenza with other manifestations',
 'Flu d/t avian flu virus',
 'Influenza due to identified avian influenza virus',
 'Influenza due to identified avian influenza virus with pneumonia',
 'Influenza due to identified avian influenza virus with other respiratory manifestations',
 'Influenza due to identified avian influenza virus with other manifestations',
 'Influenza due to identified novel H1N1 influenza virus',
 'Influenza due to identified 2009 H1N1 influenza virus with pneumonia',
 'Influenza due to identified 2009 H1N1 influenza virus with other respiratory manifestations',
 'Influenza due to identified 2009 H1N1 influenza virus with other manifestations',
 'Influenza due to identified novel influenza A virus with pneumonia',
 'Bronchitis and pneumonitis due to fumes and vapors',
 'Acute pulmonary edema due to fumes and vapors',
 'Upper respiratory inflammation due to fumes and vapors',
 'Other acute and subacute respiratory conditions due to fumes and vapors',
 'Chronic respiratory conditions due to fumes and vapors',
 'Unspecified respiratory conditions due to fumes and vapors',
 'Pneumonitis due to inhalation of food or vomitus',
 'Pneumonitis due to inhalation of oils and essences',
 'Pneumonitis due to other solids and liquids']

In [39]:
filtered_pneumonia_2 = diag_item[diag_item['long_title'].str.contains('pneumonia', case=False)]
filtered_pneumonia_2

,icd_code,icd_version,long_title
12,00322,9,Salmonella pneumonia
150,01160,9,"Tuberculous pneumonia [any form], unspecified"
151,01161,9,"Tuberculous pneumonia [any form], bacteriologi..."
152,01162,9,"Tuberculous pneumonia [any form], bacteriologi..."
153,01163,9,"Tuberculous pneumonia [any form], tubercle bac..."
...,...,...,...
41051,P239,10,"Congenital pneumonia, unspecified"
97544,V0382,9,Other specified vaccinations against streptoco...
97727,V066,9,Need for prophylactic vaccination and inoculat...
97976,V1261,9,Personal history of pneumonia (recurrent)
109384,Z8701,10,Personal history of pneumonia (recurrent)

In [40]:
pneumonia_2 = pd.concat([filtered_pneumonia, filtered_pneumonia_2], ignore_index=True)
pneumonia_2.to_csv('/media/data/huyennm/mimic-iv/notebook/comorbidity/comorbidity_results/pneumonia/test_pneumonia.csv')

In [43]:
pneumonia = pd.read_csv('/media/data/huyennm/mimic-iv/notebook/comorbidity/comorbidity_results/pneumonia/test_pneumonia.csv')
pneumonia

,Unnamed: 0,icd_code,icd_version,long_title
0,0,4800,9,Pneumonia due to adenovirus
1,1,4801,9,Pneumonia due to respiratory syncytial virus
2,2,4802,9,Pneumonia due to parainfluenza virus
3,3,4803,9,Pneumonia due to SARS-associated coronavirus
4,4,4808,9,Pneumonia due to other virus not elsewhere cla...
...,...,...,...,...
172,190,P239,10,"Congenital pneumonia, unspecified"
173,191,V0382,9,Other specified vaccinations against streptoco...
174,192,V066,9,Need for prophylactic vaccination and inoculat...
175,193,V1261,9,Personal history of pneumonia (recurrent)
176,194,Z8701,10,Personal history of pneumonia (recurrent)

In [49]:
pneumonia = pneumonia.reset_index(drop=True)
pneumonia = pneumonia.drop(columns='Unnamed: 0')

In [50]:
pneumonia

    icd_code  icd_version                                         long_title
0       4800            9                        Pneumonia due to adenovirus
1       4801            9       Pneumonia due to respiratory syncytial virus
2       4802            9               Pneumonia due to parainfluenza virus
3       4803            9       Pneumonia due to SARS-associated coronavirus
4       4808            9  Pneumonia due to other virus not elsewhere cla...
..       ...          ...                                                ...
172     P239           10                  Congenital pneumonia, unspecified
173    V0382            9  Other specified vaccinations against streptoco...
174     V066            9  Need for prophylactic vaccination and inoculat...
175    V1261            9          Personal history of pneumonia (recurrent)
176    Z8701           10          Personal history of pneumonia (recurrent)

[177 rows x 3 columns]

In [51]:
pneumonia.to_csv('/media/data/huyennm/mimic-iv/notebook/comorbidity/comorbidity_results/pneumonia/test_pneumonia.csv')

### COPD

In [53]:
copd_code = [
    '4660', '490', '4910', '4911', '49120', '49121', '4918', '4919', 
    '4920', '4928', '494', '4940', '4941', '496'
]

copd = diag_item[diag_item['icd_code'].isin(copd_code)]
copd

     icd_code  icd_version                                         long_title
5119     4660            9                                   Acute bronchitis
5228      490            9      Bronchitis, not specified as acute or chronic
5229     4910            9                          Simple chronic bronchitis
5230     4911            9                    Mucopurulent chronic bronchitis
5231    49120            9  Obstructive chronic bronchitis without exacerb...
5232    49121            9  Obstructive chronic bronchitis with (acute) ex...
5234     4918            9                           Other chronic bronchitis
5235     4919            9                     Unspecified chronic bronchitis
5236     4920            9                                 Emphysematous bleb
5237     4928            9                                    Other emphysema
5252     4940            9          Bronchiectasis without acute exacerbation
5253     4941            9             Bronchiectasis with acute exacerbation
5264      496            9  Chronic airway obstruction, not elsewhere clas...

In [55]:
cond_icd9 = (
    (diag_item['icd_code'].str[:3].between('490', '505')) |  # Between '490' and '505' (first 3 characters)
    (diag_item['icd_code'].str[:4].isin(['4168', '4169', '5064', '5081', '5088']))  # Specific 4 character codes
)

cond_icd10 = (
    (diag_item['icd_code'].str[:3].between('J40', 'J47')) |  # Between 'J40' and 'J47' (first 3 characters)
    (diag_item['icd_code'].str[:3].between('J60', 'J67')) |  # Between 'J60' and 'J67' (first 3 characters)
    (diag_item['icd_code'].str[:4].isin(['I278', 'I279', 'J684', 'J701', 'J703']))  # Specific 4 character codes
)
filtered_copd = diag_item[cond_icd9 | cond_icd10]
filtered_copd

      icd_code  icd_version                                         long_title
4745      4168            9             Other chronic pulmonary heart diseases
4746      4169            9       Chronic pulmonary heart disease, unspecified
5228       490            9      Bronchitis, not specified as acute or chronic
5229      4910            9                          Simple chronic bronchitis
5230      4911            9                    Mucopurulent chronic bronchitis
...        ...          ...                                                ...
26472     J678           10  Hypersensitivity pneumonitis due to other orga...
26473     J679           10  Hypersensitivity pneumonitis due to unspecifie...
26479     J684           10  Chronic respiratory conditions due to chemical...
26488     J701           10  Chronic and other pulmonary manifestations due...
26490     J703           10   Chronic drug-induced interstitial lung disorders

[134 rows x 3 columns]

In [9]:
diag = pd.read_csv('/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/diagnoses_icd.csv')
diag

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
4756321    19999987  23865745        7    41401            9
4756322    19999987  23865745        8    78039            9
4756323    19999987  23865745        9     0413            9
4756324    19999987  23865745       10    36846            9
4756325    19999987  23865745       11     7810            9

[4756326 rows x 5 columns]

In [12]:
diag[diag['icd_code'] == 42820]

Empty DataFrame
Columns: [subject_id, hadm_id, seq_num, icd_code, icd_version]
Index: []

In [6]:
len(diag_chf_icd9['long_title'].tolist())

18

In [23]:
file_event_path = '/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/d_items.csv'

chunksize = 10**6
chunk_list = []

for chunk in pd.read_csv(file_event_path, chunksize=chunksize):
    chunk_list.append(chunk)
event_df = pd.concat(chunk_list, axis=0)
event_df

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,220001,Problem List,Problem List,chartevents,General,NaN,Text,NaN,NaN
1,220003,ICU Admission date,ICU Admission date,datetimeevents,ADT,NaN,Date and time,NaN,NaN
2,220045,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
3,220046,Heart rate Alarm - High,HR Alarm - High,chartevents,Alarms,bpm,Numeric,NaN,NaN
4,220047,Heart Rate Alarm - Low,HR Alarm - Low,chartevents,Alarms,bpm,Numeric,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4009,230077,Documented on DC Summary (PICC),Documented on DC Summary (PICC),chartevents,PICC Line Insertion,NaN,Text,NaN,NaN
4010,230078,Documented on DC Summary (Thora),Documented on DC Summary (Thora),chartevents,Thoracentesis,NaN,Text,NaN,NaN
4011,230083,Replacement Fluid (Pre-Filter),Replacement Fluid (Pre-Filter),chartevents,Dialysis,NaN,Text,NaN,NaN
4012,230084,Replacement Fluid (Post-Filter),Replacement Fluid (Post-Filter),chartevents,Dialysis,NaN,Text,NaN,NaN
4013,230085,Dialysate Fluid,Dialysate Fluid,chartevents,Dialysis,NaN,Text,NaN,NaN

In [8]:
event_df['linksto'].unique()

array(['chartevents', 'datetimeevents', 'ingredientevents', 'inputevents',
       'procedureevents', 'outputevents'], dtype=object)

In [ ]:
all_values = event_df['category']
all = list(set(all_values))
print(all)

In [8]:
df = event_df[(event_df['label'].str.contains('Aortic', case=False))]
gcs_item_list = df['linksto'].tolist()
df

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
21,220120,Intra Aortic Ballon Pump Setting,Intra Aortic Ballon Pump Setting,chartevents,IABP,NaN,Text,NaN,NaN
2546,227980,Intra Aortic Balloon Pump Setting,IABP Setting,chartevents,IABP,NaN,Text,NaN,NaN
2693,228151,Aortic Pressure Signal - Diastolic,Aortic Pressure Signal - Diastolic,chartevents,Impella,mmHg.,Numeric,NaN,NaN
2694,228152,Aortic Pressure Signal - Systolic,Aortic Pressure Signal - Systolic,chartevents,Impella,mmHg.,Numeric,NaN,NaN
2701,228160,Impella Aortic Pressure Tubing Change,Impella Aortic Pressure Tubing Change,datetimeevents,Access Lines - Invasive,NaN,Date and time,NaN,NaN

In [24]:
CHARTED_IDs = [
220277
]
df = event_df[event_df['itemid'].isin(CHARTED_IDs)]
df

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
36,220277,O2 saturation pulseoxymetry,SpO2,chartevents,Respiratory,%,Numeric,NaN,NaN

In [18]:
vent_itemids = [
    720, 223849, 223848, 445, 448, 449, 450, 1340, 1486, 1600, 224687,
    639, 654, 681, 682, 683, 684, 224685, 224684, 224686,
    218, 436, 535, 444, 224697, 224695, 224696, 224746, 224747,
    221, 1, 1211, 1655, 2000, 226873, 224738, 224419, 224750, 227187,
    543, 5865, 5866, 224707, 224709, 224705, 224706, 60, 437, 505, 506,
    686, 220339, 224700, 3459, 501, 502, 503, 224702, 223, 667, 668, 
    669, 670, 671, 672, 224701, 640, 468, 469, 470, 471, 227287, 226732, 
    223834, 467
]
df = event_df[event_df['itemid'].isin(vent_itemids)]
df

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
40,220339,PEEP set,PEEP set,chartevents,Respiratory,cmH2O,Numeric,NaN,NaN
383,223834,O2 Flow,O2 Flow,chartevents,Respiratory,L/min,Numeric,NaN,NaN
390,223848,Ventilator Type,Ventilator Type,chartevents,Respiratory,NaN,Text,NaN,NaN
391,223849,Ventilator Mode,Ventilator Mode,chartevents,Respiratory,NaN,Text,NaN,NaN
679,224419,Negative Insp. Force,Negative Insp. Force,chartevents,Respiratory,cmH2O,Numeric,NaN,NaN
795,224684,Tidal Volume (set),Tidal Volume (set),chartevents,Respiratory,mL,Numeric,299.0,750.0
796,224685,Tidal Volume (observed),Tidal Volume (observed),chartevents,Respiratory,mL,Numeric,299.0,750.0
797,224686,Tidal Volume (spontaneous),Tidal Volume (spontaneous),chartevents,Respiratory,mL,Numeric,299.0,750.0
798,224687,Minute Volume,Minute Volume,chartevents,Respiratory,L/min,Numeric,NaN,12.1
804,224695,Peak Insp. Pressure,Peak Insp. Pressure,chartevents,Respiratory,cmH2O,Numeric,NaN,NaN
805,224696,Plateau Pressure,Plateau Pressure,chartevents,Respiratory,cmH2O,Numeric,NaN,31.0
806,224697,Mean Airway Pressure,Mean Airway Pressure,chartevents,Respiratory,cmH2O,Numeric,NaN,NaN
808,224700,Total PEEP Level,Total PEEP Level,chartevents,Respiratory,cmH2O,Numeric,NaN,NaN
809,224701,PSV Level,PSV Level,chartevents,Respiratory,cmH2O,Numeric,NaN,NaN
810,224702,PCV Level,PCV Level,chartevents,Respiratory,cmH2O,Numeric,NaN,NaN
813,224705,P High (APRV),P High (APRV),chartevents,Respiratory,cmH2O,Numeric,NaN,NaN
814,224706,P Low (APRV),P Low (APRV),chartevents,Respiratory,cmH2O,Numeric,NaN,NaN
815,224707,T High (APRV),T High (APRV),chartevents,Respiratory,sec,Numeric,NaN,NaN
816,224709,T Low (APRV),T Low (APRV),chartevents,Respiratory,sec,Numeric,NaN,NaN
836,224738,Inspiratory Time,IT,chartevents,Respiratory,sec,Numeric,NaN,NaN
840,224746,Transpulmonary Pressure (Exp. Hold),Transpulmonary Press (Exp. Hold),chartevents,Respiratory,cmH2O,Numeric,-2.0,NaN
841,224747,Transpulmonary Pressure (Insp. Hold),Transpulmonary Press (Insp. Hold),chartevents,Respiratory,cmH2O,Numeric,NaN,20.0
844,224750,Nitric Oxide Tank Pressure,Nitric Oxide Tank Pressure,chartevents,Respiratory,psi,Numeric,NaN,NaN
1946,226732,O2 Delivery Device(s),O2 Delivery Device(s),chartevents,Respiratory,NaN,Text,NaN,NaN
2010,226873,Inspiratory Ratio,Inspiratory Ratio,chartevents,Respiratory,NaN,Numeric,NaN,NaN
2140,227187,Pinsp (Draeger only),Pinsp (Draeger only),chartevents,Respiratory,cmH2O,Numeric,NaN,NaN
2156,227287,O2 Flow (additional cannula),O2 Flow (additional cannula),chartevents,Respiratory,L/min,Numeric,NaN,NaN

In [7]:
item = event_df[event_df['itemid'] == 211]
item

Empty DataFrame
Columns: [itemid, label, abbreviation, linksto, category, unitname, param_type, lownormalvalue, highnormalvalue]
Index: []

In [13]:
file_item_path = '/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/icustays.csv'

chunk_item_list = []

for chunk in pd.read_csv(file_item_path, chunksize=chunksize):
    chunk_item_list.append(chunk)
chart_df = pd.concat(chunk_item_list, axis=0)

In [14]:
chart_df.head()

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10000032,29079034,39553978,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 14:00:00,2180-07-23 23:50:47,0.410266
1,10000980,26913865,39765666,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2189-06-27 08:42:00,2189-06-27 20:38:27,0.497535
2,10001217,24597018,37067082,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-11-20 19:18:02,2157-11-21 22:08:00,1.118032
3,10001217,27703517,34592300,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-12-19 15:42:24,2157-12-20 14:27:41,0.948113
4,10001725,25563031,31205490,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2110-04-11 15:52:22,2110-04-12 23:59:56,1.338588

In [18]:
target_patients = pd.read_csv('/media/data/huyennm/mimic-iv/notebook/eligible_patients.csv')
target_patients

,subject_id,hadm_id,stay_id,intime,outtime,charttime,vent,age_at_admission
0,13180007,27543152,30000213,2162-06-21 05:38:00,2162-06-22 20:52:48,2162-06-22 05:00:00,1,66
1,18421337,22413411,30000484,2136-01-14 17:23:32,2136-01-17 04:53:08,2136-01-15 16:00:00,1,92
2,15726459,22744101,30000831,2140-04-17 21:26:33,2140-04-20 14:21:57,2140-04-18 20:28:00,1,78
3,12168737,29283664,30001336,2186-03-20 00:44:48,2186-03-22 19:25:44,2186-03-21 00:00:00,1,77
4,14311522,24622512,30002548,2111-08-17 13:13:43,2111-08-18 18:50:31,2111-08-18 12:00:00,1,70
...,...,...,...,...,...,...,...,...
25777,19046950,24352151,39998622,2135-02-11 18:13:55,2135-02-20 17:53:16,2135-02-12 16:00:00,1,67
25778,15954569,25851401,39998871,2180-02-24 06:42:00,2180-02-24 22:41:40,2180-02-24 21:00:00,1,64
25779,19425920,28258450,39999168,2190-04-11 19:36:01,2190-04-21 17:40:54,2190-04-12 16:00:00,1,73
25780,15669140,29818488,39999172,2185-02-17 15:01:00,2185-02-19 17:26:07,2185-02-18 12:00:00,1,89
25781,15498623,27161460,39999384,2158-05-24 19:50:01,2158-05-26 02:27:07,2158-05-25 16:00:00,1,81

In [17]:
result = pd.read_csv("/media/data/huyennm/mimic-iv/mimic-derived/vitalsigns.csv")
result.head()

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10000032,29079034,39553978,18704.0,2180-07-23 14:00:00,2180-07-23 14:20:00,223761,98.7,98.7,°F,0.0
1,10000032,29079034,39553978,18704.0,2180-07-23 14:12:00,2180-07-23 14:17:00,220045,91.0,91.0,bpm,0.0
2,10000032,29079034,39553978,18704.0,2180-07-23 14:12:00,2180-07-23 14:17:00,220210,24.0,24.0,insp/min,0.0
3,10000032,29079034,39553978,18704.0,2180-07-23 14:30:00,2180-07-23 14:43:00,220045,93.0,93.0,bpm,0.0
4,10000032,29079034,39553978,18704.0,2180-07-23 14:30:00,2180-07-23 14:43:00,220210,21.0,21.0,insp/min,0.0

In [24]:
print("220210")
print(result[result['itemid'] == 220210])
print("224690")
print(result[result['itemid'] == 224690])

220210
          subject_id   hadm_id   stay_id  caregiver_id            charttime  \
2           10000032  29079034  39553978       18704.0  2180-07-23 14:12:00
4           10000032  29079034  39553978       18704.0  2180-07-23 14:30:00
6           10000032  29079034  39553978       18704.0  2180-07-23 15:00:00
8           10000032  29079034  39553978       18704.0  2180-07-23 16:00:00
10          10000032  29079034  39553978       18704.0  2180-07-23 17:00:00
...              ...       ...       ...           ...                  ...
20625846    19999987  23865745  36195440       95520.0  2145-11-03 02:00:00
20625848    19999987  23865745  36195440       95520.0  2145-11-03 03:00:00
20625851    19999987  23865745  36195440       95520.0  2145-11-03 04:00:00
20625853    19999987  23865745  36195440       95520.0  2145-11-03 05:00:00
20625855    19999987  23865745  36195440       95520.0  2145-11-03 06:00:00

                    storetime  itemid  value  valuenum  valueuom  warning
2         2180-07-23 14:17:00  220210   24.0      24.0  insp/min      0.0
4         2180-07-23 14:43:00  220210   21.0      21.0  insp/min      0.0
6         2180-07-23 15:34:00  220210   23.0      23.0  insp/min      0.0
8         2180-07-23 16:05:00  220210   21.0      21.0  insp/min      0.0
10        2180-07-23 17:01:00  220210   20.0      20.0  insp/min      0.0
...                       ...     ...    ...       ...       ...      ...
20625846  2145-11-03 03:04:00  220210   20.0      20.0  insp/min      0.0
20625848  2145-11-03 03:04:00  220210   19.0      19.0  insp/min      0.0
20625851  2145-11-03 04:24:00  220210   20.0      20.0  insp/min      0.0
20625853  2145-11-03 05:05:00  220210   14.0      14.0  insp/min      0.0
20625855  2145-11-03 06:05:00  220210   20.0      20.0  insp/min      0.0

[8636655 rows x 11 columns]
224690
          subject_id   hadm_id   stay_id  caregiver_id            charttime  \
261         10000980  26913865  39765666       66828.0  2189-06-27 09:00:00
474         10001843  26133978  39698942       58790.0  2134-12-06 04:00:00
480         10001843  26133978  39698942       76295.0  2134-12-05 20:00:00
481         10001843  26133978  39698942       76295.0  2134-12-05 21:00:00
498         10001884  26184834  37510196        6254.0  2131-01-11 07:00:00
...              ...       ...       ...           ...                  ...
20625748    19999987  23865745  36195440       30614.0  2145-11-02 23:00:00
20625749    19999987  23865745  36195440       30614.0  2145-11-03 04:00:00
20625750    19999987  23865745  36195440       38499.0  2145-11-03 22:37:00
20625808    19999987  23865745  36195440       78816.0  2145-11-03 07:00:00
20625809    19999987  23865745  36195440       78816.0  2145-11-03 16:00:00

                    storetime  itemid  value  valuenum  valueuom  warning
261       2189-06-27 09:03:00  224690   27.0      27.0  insp/min      0.0
474       2134-12-06 04:43:00  224690   20.0      20.0  insp/min      0.0
480       2134-12-05 20:38:00  224690   17.0      17.0  insp/min      0.0
481       2134-12-05 21:21:00  224690   20.0      20.0  insp/min      0.0
498       2131-01-11 07:29:00  224690   20.0      20.0  insp/min      0.0
...                       ...     ...    ...       ...       ...      ...
20625748  2145-11-02 23:29:00  224690   22.0      22.0  insp/min      0.0
20625749  2145-11-03 04:50:00  224690   20.0      20.0  insp/min      0.0
20625750  2145-11-03 22:40:00  224690   29.0      29.0  insp/min      0.0
20625808  2145-11-03 07:37:00  224690   20.0      20.0  insp/min      0.0
20625809  2145-11-03 16:15:00  224690   20.0      20.0  insp/min      0.0

[753531 rows x 11 columns]

In [2]:
file_event_path = '/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/outputevents.csv'

chunksize = 10**6
chunk_list = []

for chunk in pd.read_csv(file_event_path, chunksize=chunksize):
    chunk_list.append(chunk)
output_df = pd.concat(chunk_list, axis=0)
output_df

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valueuom
0,10000032,29079034,39553978,88981,2180-07-23 15:00:00,2180-07-23 16:00:00,226560,175.0,ml
1,10000980,26913865,39765666,36518,2189-06-27 09:08:00,2189-06-27 09:08:00,226559,450.0,ml
2,10000980,26913865,39765666,36518,2189-06-27 09:08:00,2189-06-27 09:08:00,226633,400.0,ml
3,10000980,26913865,39765666,36518,2189-06-27 11:00:00,2189-06-27 10:51:00,226559,600.0,ml
4,10000980,26913865,39765666,36518,2189-06-27 13:00:00,2189-06-27 12:55:00,226559,800.0,ml
...,...,...,...,...,...,...,...,...,...
4234962,19999987,23865745,36195440,86756,2145-11-03 05:00:00,2145-11-03 05:48:00,226559,25.0,ml
4234963,19999987,23865745,36195440,86756,2145-11-03 05:48:00,2145-11-03 05:48:00,226576,300.0,ml
4234964,19999987,23865745,36195440,86756,2145-11-03 07:00:00,2145-11-03 07:00:00,226559,30.0,ml
4234965,19999987,23865745,36195440,90295,2145-11-02 23:25:00,2145-11-02 23:25:00,226627,200.0,ml
4234966,19999987,23865745,36195440,91879,2145-11-04 20:03:00,2145-11-04 20:03:00,226560,325.0,ml

In [37]:
output_df[output_df['itemid'] == 227489]

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valueuom
974,10002495,24982426,36753294,55302,2141-05-24 08:00:00,2141-05-24 08:34:00,227489,3675.0,ml
976,10002495,24982426,36753294,55302,2141-05-24 15:00:00,2141-05-24 15:10:00,227489,3600.0,ml
1008,10002495,24982426,36753294,72655,2141-05-24 02:00:00,2141-05-24 01:40:00,227489,3600.0,ml
1010,10002495,24982426,36753294,72655,2141-05-24 04:00:00,2141-05-24 04:29:00,227489,3600.0,ml
1030,10002495,24982426,36753294,98277,2141-05-23 23:45:00,2141-05-23 23:46:00,227489,2800.0,ml
...,...,...,...,...,...,...,...,...,...
4179812,19878969,29921867,33702581,18428,2149-03-07 06:00:00,2149-03-07 07:10:00,227489,70.0,ml
4179823,19878969,29921867,33702581,18428,2149-03-08 02:00:00,2149-03-08 02:03:00,227489,110.0,ml
4199891,19930120,25486927,30461247,90818,2170-12-16 09:58:00,2170-12-16 09:58:00,227489,20.0,ml
4212997,19960115,28341607,30600396,4915,2113-12-15 05:08:00,2113-12-15 05:09:00,227489,225.0,ml
4213132,19960115,28341607,30600396,22713,2113-12-03 22:00:00,2113-12-03 21:54:00,227489,50.0,ml

In [7]:
test_patients = pd.read_csv('eligible_patients.csv')
test_patients = test_patients['stay_id'].tolist()
patients = []
for i in test_patients:
    a = item_df[(item_df['stay_id']) == i]
    patients.append(a)

all_test_patients = pd.concat(patients)
all_test_patients

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
88943,10003400,20214994,32128372,455.0,2137-02-25 23:00:00,2137-02-26 03:58:00,220048,AF (Atrial Fibrillation),NaN,NaN,0.0
88944,10003400,20214994,32128372,455.0,2137-02-25 23:37:00,2137-02-26 00:04:00,226512,93,93.0,kg,0.0
88945,10003400,20214994,32128372,455.0,2137-02-26 00:00:00,2137-02-26 00:04:00,220045,117,117.0,bpm,0.0
88946,10003400,20214994,32128372,455.0,2137-02-26 00:00:00,2137-02-26 00:04:00,220050,90,90.0,mmHg,0.0
88947,10003400,20214994,32128372,455.0,2137-02-26 00:00:00,2137-02-26 00:04:00,220051,63,63.0,mmHg,0.0
...,...,...,...,...,...,...,...,...,...,...,...
219619,10004401,29988601,32773003,NaN,2144-02-06 02:53:00,2144-02-06 04:05:00,225625,8.1,8.1,mg/dL,1.0
219620,10004401,29988601,32773003,NaN,2144-02-06 02:53:00,2144-02-06 04:05:00,225677,3.4,3.4,mg/dL,0.0
219621,10004401,29988601,32773003,NaN,2144-02-06 02:53:00,2144-02-06 04:05:00,227073,13,13.0,mEq/L,0.0
219622,10004401,29988601,32773003,NaN,2144-02-06 02:53:00,2144-02-06 04:05:00,227442,4.5,4.5,mEq/L,0.0
219623,10004401,29988601,32773003,NaN,2144-02-06 02:53:00,2144-02-06 04:05:00,227443,24,24.0,mEq/L,0.0

In [12]:
test = item_df[(item_df['stay_id'] == 34504641)]
test

Empty DataFrame
Columns: [subject_id, hadm_id, stay_id, caregiver_id, charttime, storetime, itemid, value, valuenum, valueuom, warning]
Index: []

In [51]:
gcs_tests = []
for i in gcs_item_list:
    item = item_df[item_df['itemid'] == i]
    gcs_tests.append(item)

gcs_tests_df = pd.concat(gcs_tests)
gcs_tests_df['itemid'].unique()

array([220739, 223900, 223901])

In [17]:
all_values = item_df['category'].unique()
all_values

array(['General', 'ADT', 'Routine Vital Signs', 'Alarms', 'Hemodynamics',
       'IABP', 'Cardiovascular (Pacer Data)', 'Respiratory', 'Labs',
       'Ingredients - general (Not In Use)', 'Ingredients',
       'Neurological', 'Fluids - Other (Not In Use)',
       'Blood Products/Colloids', 'Fluids/Intake', 'Medications',
       'Nutrition - Enteral', '5-Imaging', '4-Procedures',
       'Nutrition - Supplements', 'Nutrition - Parenteral', 'Intubation',
       'Pain/Sedation', 'Toxicology', 'ZIntake',
       'Cardiovascular (Pulses)', 'Cardiovascular', 'Pulmonary', 'GI/GU',
       'Restraint/Support Systems', 'Skin - Assessment',
       'Skin - Incisions', 'Skin - Impairment', 'Treatments',
       'Access Lines - Peripheral', 'Dialysis', 'Access Lines - Invasive',
       'Impella', 'CVL Insertion', '1-Intubation/Extubation', 'Drains',
       'PA Line Insertion', 'Lumbar Puncture', 'Thoracentesis',
       'PICC Line Insertion', 'Adm History/FHPA', 'Paracentesis',
       '6-Cultures', '3-Significant Events', 'Case Management',
       'Bronchoscopy', 'Arterial Line Insertion', '2-Ventilation',
       'Antibiotics', 'Output', 'Scores - APACHE II',
       'Scores - APACHE IV (2)', 'Scores - APACHE IV', 'OB-GYN',
       'OT Notes', 'ApacheII Parameters', 'ApacheIV Parameters',
       '7-Communication', 'PiCCO', 'Tandem Heart', 'Family Mtg Note',
       'Pastoral Care Note', 'NICOM', 'Generic Proc Note',
       'Research Enrollment Note', 'MD Progress Note', 'Care Plans',
       'Centrimag', 'ECMO', 'Heartware', 'Swallow Evaluation', 'SBNET',
       'Triggers Note', 'RNTriggerNote', 'Durable VAD', 'RDOS'],
      dtype=object)

In [22]:
diagnose_df = pd.read_csv('/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/d_icd_diagnoses.csv')
diagnose_item = diagnose_df[diagnose_df['icd_code'] == 'I4891']
diagnose_item

      icd_code  icd_version                       long_title
24765    I4891           10  Unspecified atrial fibrillation

In [24]:
alive_patients = pd.read_csv('/media/data/huyennm/mimic-iv/notebook/alive_patients_flag.csv')
diagnoses_icd = pd.read_csv('/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/diagnoses_icd.csv')

filtered_diagnoses = diagnoses_icd[diagnoses_icd['icd_code'] == 'I4891']

merged_df = pd.merge(alive_patients, filtered_diagnoses, on=['subject_id', 'hadm_id'], how='inner')
merged_df

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag,seq_num,icd_code,icd_version
0,10003502,29011269,2169-08-26 16:14:00,2169-08-28 15:20:00,NaN,OBSERVATION ADMIT,P66A56,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,?,WIDOWED,WHITE - RUSSIAN,2169-08-26 12:31:00,2169-08-26 22:11:00,0,11,I4891,10
1,10014354,29600294,2148-08-14 22:57:00,2148-08-18 21:12:00,NaN,OBSERVATION ADMIT,P723L9,PHYSICIAN REFERRAL,AGAINST ADVICE,Other,ENGLISH,SINGLE,WHITE,2148-08-14 16:32:00,2148-08-15 00:27:00,0,10,I4891,10
2,10015272,27993466,2137-06-12 18:36:00,2137-06-18 15:45:00,NaN,EW EMER.,P3529J,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,NaN,WHITE,2137-06-12 16:54:00,2137-06-12 20:37:00,0,8,I4891,10
3,10015931,24420677,2176-12-16 23:31:00,2176-12-31 17:35:00,NaN,OBSERVATION ADMIT,P49NLZ,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,MARRIED,WHITE,2176-12-16 18:24:00,2176-12-17 01:07:00,0,12,I4891,10
4,10036086,25086233,2206-01-25 19:21:00,2206-01-30 17:39:00,NaN,OBSERVATION ADMIT,P06BFR,CLINIC REFERRAL,HOME HEALTH CARE,Other,ENGLISH,MARRIED,PORTUGUESE,2206-01-25 12:55:00,2206-01-25 21:27:00,0,11,I4891,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,19989783,22784678,2128-06-18 11:26:00,2128-06-21 18:35:00,NaN,EW EMER.,P7554I,EMERGENCY ROOM,HOME,Other,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2128-06-18 09:18:00,2128-06-18 13:06:00,0,4,I4891,10
1430,19989783,24282820,2130-08-02 17:27:00,2130-08-07 13:46:00,NaN,EW EMER.,P233F6,WALK-IN/SELF REFERRAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2130-08-02 12:52:00,2130-08-02 18:31:00,0,11,I4891,10
1431,19989783,26984195,2130-07-12 08:34:00,2130-08-01 15:50:00,NaN,OBSERVATION ADMIT,P3638G,PHYSICIAN REFERRAL,CHRONIC/LONG TERM ACUTE CARE,Medicare,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2130-07-12 06:35:00,2130-07-12 09:01:00,0,18,I4891,10
1432,19994379,27052619,2131-05-05 15:15:00,2131-05-21 15:02:00,NaN,OBSERVATION ADMIT,P39043,TRANSFER FROM HOSPITAL,REHAB,Medicare,ENGLISH,MARRIED,WHITE,2131-05-04 21:58:00,2131-05-05 16:32:00,0,7,I4891,10
1433,19997448,23560173,2122-07-22 14:00:00,2122-07-30 16:30:00,NaN,ELECTIVE,P17BJ5,PHYSICIAN REFERRAL,SKILLED NURSING FACILITY,Other,ENGLISH,SINGLE,WHITE,NaN,NaN,0,7,I4891,10

In [2]:
gcs = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/gcs.csv')
gcs

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10000032,29079034,39553978,66056.0,2180-07-23 20:00:00,2180-07-23 21:13:00,220739,Spontaneously,4.0,NaN,0.0
1,10000032,29079034,39553978,66056.0,2180-07-23 20:00:00,2180-07-23 21:13:00,223900,Oriented,5.0,NaN,0.0
2,10000032,29079034,39553978,66056.0,2180-07-23 20:00:00,2180-07-23 21:13:00,223901,Obeys Commands,6.0,NaN,0.0
3,10000032,29079034,39553978,88981.0,2180-07-23 14:45:00,2180-07-23 14:46:00,220739,Spontaneously,4.0,NaN,0.0
4,10000032,29079034,39553978,88981.0,2180-07-23 14:45:00,2180-07-23 14:46:00,223901,Obeys Commands,6.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4882482,19999987,23865745,36195440,86756.0,2145-11-03 06:00:00,2145-11-03 06:05:00,223900,No Response-ETT,1.0,NaN,0.0
4882483,19999987,23865745,36195440,86756.0,2145-11-03 06:00:00,2145-11-03 06:05:00,223901,Localizes Pain,5.0,NaN,0.0
4882484,19999987,23865745,36195440,91879.0,2145-11-04 20:00:00,2145-11-04 20:50:00,220739,Spontaneously,4.0,NaN,0.0
4882485,19999987,23865745,36195440,91879.0,2145-11-04 20:00:00,2145-11-04 20:50:00,223900,Confused,4.0,NaN,0.0
4882486,19999987,23865745,36195440,91879.0,2145-11-04 20:00:00,2145-11-04 20:50:00,223901,Obeys Commands,6.0,NaN,0.0

In [6]:
itemid = [220739, 223900, 223901]
eligible = gcs[gcs['itemid'].isin(itemid)]
eligible

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10000032,29079034,39553978,66056.0,2180-07-23 20:00:00,2180-07-23 21:13:00,220739,Spontaneously,4.0,NaN,0.0
1,10000032,29079034,39553978,66056.0,2180-07-23 20:00:00,2180-07-23 21:13:00,223900,Oriented,5.0,NaN,0.0
2,10000032,29079034,39553978,66056.0,2180-07-23 20:00:00,2180-07-23 21:13:00,223901,Obeys Commands,6.0,NaN,0.0
3,10000032,29079034,39553978,88981.0,2180-07-23 14:45:00,2180-07-23 14:46:00,220739,Spontaneously,4.0,NaN,0.0
4,10000032,29079034,39553978,88981.0,2180-07-23 14:45:00,2180-07-23 14:46:00,223901,Obeys Commands,6.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4882482,19999987,23865745,36195440,86756.0,2145-11-03 06:00:00,2145-11-03 06:05:00,223900,No Response-ETT,1.0,NaN,0.0
4882483,19999987,23865745,36195440,86756.0,2145-11-03 06:00:00,2145-11-03 06:05:00,223901,Localizes Pain,5.0,NaN,0.0
4882484,19999987,23865745,36195440,91879.0,2145-11-04 20:00:00,2145-11-04 20:50:00,220739,Spontaneously,4.0,NaN,0.0
4882485,19999987,23865745,36195440,91879.0,2145-11-04 20:00:00,2145-11-04 20:50:00,223900,Confused,4.0,NaN,0.0
4882486,19999987,23865745,36195440,91879.0,2145-11-04 20:00:00,2145-11-04 20:50:00,223901,Obeys Commands,6.0,NaN,0.0

In [7]:
eligible['valuenum'].unique()

array([4., 5., 6., 1., 3., 2.])

In [8]:
not_eligible = gcs[~gcs['itemid'].isin(itemid)]
not_eligible

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
510613,11068869,22961365,31881010,38682.0,2137-03-19 09:16:00,2137-03-19 09:18:00,226755,5,5.0,NaN,0.0
510614,11068869,22961365,31881010,38682.0,2137-03-19 09:16:00,2137-03-19 09:18:00,226756,To Pain,2.0,NaN,0.0
510615,11068869,22961365,31881010,38682.0,2137-03-19 09:16:00,2137-03-19 09:18:00,226757,Localizes Pain,5.0,NaN,0.0
510616,11068869,22961365,31881010,38682.0,2137-03-19 09:16:00,2137-03-19 09:18:00,226758,Inappropriate Words,3.0,NaN,0.0
510618,11068869,22961365,31881010,72533.0,2137-03-19 11:24:00,2137-03-19 11:25:00,226755,0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4604892,19466961,22172321,37552008,69442.0,2137-08-13 17:39:00,2137-08-13 17:40:00,226758,No Response,1.0,NaN,0.0
4604893,19466961,22172321,37552008,69442.0,2137-08-13 17:50:00,2137-08-13 17:51:00,226755,1,1.0,NaN,0.0
4604894,19466961,22172321,37552008,69442.0,2137-08-13 17:50:00,2137-08-13 17:51:00,226756,To Speech,3.0,NaN,0.0
4604895,19466961,22172321,37552008,69442.0,2137-08-13 17:50:00,2137-08-13 17:51:00,226757,Obeys Commands,6.0,NaN,0.0
4604896,19466961,22172321,37552008,69442.0,2137-08-13 17:50:00,2137-08-13 17:51:00,226758,Oriented,5.0,NaN,0.0

In [20]:
valuenum = [4., 5., 6., 1., 3., 2.]
not_eligible = gcs[~gcs['valuenum'].isin(valuenum)]
not_eligible

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
510618,11068869,22961365,31881010,72533.0,2137-03-19 11:24:00,2137-03-19 11:25:00,226755,0,0.0,NaN,0.0
528671,11111901,29789360,30265100,12211.0,2164-01-08 14:32:00,2164-01-08 14:34:00,227013,15,15.0,NaN,0.0
554175,11164848,25671821,38209073,12211.0,2148-02-29 14:27:00,2148-02-29 14:29:00,226755,12,12.0,NaN,0.0
570577,11192972,27284931,35808236,17977.0,2159-10-15 19:31:00,2159-10-15 19:33:00,227013,0,0.0,NaN,0.0
609390,11264212,23446559,38912610,67036.0,2144-10-20 18:14:00,2144-10-20 18:15:00,226755,7,7.0,NaN,0.0
1332867,12746532,28922520,32911554,12211.0,2177-09-14 14:30:00,2177-09-14 14:32:00,227013,48,48.0,NaN,0.0
1973327,14066993,23131325,32440896,93399.0,2121-06-18 12:44:00,2121-06-18 12:46:00,227013,29,29.0,NaN,0.0
2055633,14246655,22892099,39628142,32993.0,2144-06-02 00:26:00,2144-06-02 00:26:00,226755,0,0.0,NaN,0.0
2133812,14411859,24976204,38018615,17977.0,2162-12-31 15:57:00,2162-12-31 15:59:00,227013,29,29.0,NaN,0.0
2545383,15274195,27623566,37800255,34299.0,2147-08-16 20:07:00,2147-08-16 20:09:00,226755,12,12.0,NaN,0.0
3208644,16586417,29556301,36594737,45341.0,2169-02-10 07:07:00,2169-02-10 07:08:00,226755,0,0.0,NaN,0.0
3243943,16665617,24237377,34084121,39777.0,2156-05-15 10:11:00,2156-05-15 10:13:00,226755,13,13.0,NaN,0.0
4155965,18539548,23134723,38402471,17977.0,2178-07-03 14:26:00,2178-07-03 14:29:00,226755,7,7.0,NaN,0.0
4155972,18539548,23134723,38402471,17977.0,2178-07-03 14:29:00,2178-07-03 14:29:00,227013,48,48.0,NaN,0.0
4155976,18539548,23134723,38402471,17977.0,2178-07-03 14:34:00,2178-07-03 14:45:00,227013,24,24.0,NaN,0.0
4155977,18539548,23134723,38402471,17977.0,2178-07-03 15:07:00,2178-07-03 15:19:00,226755,7,7.0,NaN,0.0
4524169,19305113,20024364,37999980,17977.0,2129-07-10 07:53:00,2129-07-10 07:53:00,226755,12,12.0,NaN,0.0
4524269,19305113,20024364,37999980,39777.0,2129-07-10 20:33:00,2129-07-10 20:33:00,226755,13,13.0,NaN,0.0
4524273,19305113,20024364,37999980,39777.0,2129-07-19 18:07:00,2129-07-19 18:09:00,226755,13,13.0,NaN,0.0
4591405,19440249,20945038,34382308,17977.0,2127-10-04 13:08:00,2127-10-04 13:11:00,227013,0,0.0,NaN,0.0

In [27]:
test = gcs[(gcs['itemid'] == 223900) & (gcs['value'] == 'No Response-ETT')]
test['valuenum'].unique()

array([1.])

In [4]:
gcs[gcs['warning'] == 1.0]

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
1256,10002495,24982426,36753294,55302.0,2141-05-24 10:38:00,2141-05-24 10:39:00,223900,Confused,4.0,NaN,1.0
1259,10002495,24982426,36753294,55302.0,2141-05-25 07:35:00,2141-05-25 07:36:00,223900,Confused,4.0,NaN,1.0
5000,10010867,22429197,39880770,4915.0,2148-01-03 10:00:00,2148-01-03 13:09:00,220739,Spontaneously,4.0,NaN,1.0
9145,10017531,22580355,35526828,35210.0,2159-09-23 17:00:00,2159-09-23 17:25:00,223900,No Response-ETT,1.0,NaN,1.0
9694,10017679,29739025,33035972,16122.0,2132-06-07 09:00:00,2132-06-07 09:28:00,223901,Obeys Commands,6.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...
4875892,19989918,21936399,37503982,86071.0,2176-11-03 03:00:00,2176-11-03 03:44:00,223900,No Response,1.0,NaN,1.0
4878530,19994505,23109063,35505750,2036.0,2185-11-03 05:51:00,2185-11-03 05:52:00,223901,Localizes Pain,5.0,NaN,1.0
4879416,19995595,21784060,34670930,27513.0,2126-10-18 03:47:00,2126-10-18 03:47:00,220739,NaN,1.0,NaN,1.0
4879417,19995595,21784060,34670930,27513.0,2126-10-18 03:47:00,2126-10-18 03:47:00,223900,No Response-ETT,1.0,NaN,1.0
4879418,19995595,21784060,34670930,27513.0,2126-10-18 03:47:00,2126-10-18 03:47:00,223901,No response,1.0,NaN,1.0

In [10]:
path = pd.read_csv("/media/data/huyennm/mimic-iv/notebook/demographics/demographics_results/gcs_output.csv")

In [11]:
path[(path['gcs_motor'].isna()) | (path['gcs_verbal'].isna()) | (path['gcs_eyes'].isna()) | (path['gcs_total'].isna())]

,subject_id,hadm_id,stay_id,charttime,vent,age_at_admission,gcs_motor,gcs_verbal,gcs_eyes,gcs_total
7,17686783,22994815,30004320,2171-07-28 15:31:00,1,52,NaN,NaN,NaN,0.0
12,11346472,29743872,30004823,2170-08-18 00:00:00,1,56,NaN,5.0,4.0,9.0
28,11578593,22558545,30010076,2139-07-08 12:00:00,1,74,6.0,NaN,4.0,10.0
36,11503970,28557292,30014468,2127-09-29 10:00:00,1,68,NaN,NaN,3.0,3.0
72,15087712,20374748,30027647,2150-03-10 16:00:00,1,62,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
25743,18699421,24313027,39982809,2145-02-25 12:00:00,1,93,6.0,NaN,3.0,9.0
25749,11861017,29338178,39985287,2189-08-03 19:00:00,1,87,NaN,NaN,3.0,3.0
25760,19855099,23924601,39989651,2169-02-23 22:00:00,1,51,NaN,NaN,NaN,0.0
25763,18570637,20951932,39990748,2112-12-13 19:07:00,1,89,NaN,NaN,NaN,0.0
25775,16419613,21989232,39996783,2126-06-29 06:20:00,1,84,NaN,NaN,NaN,0.0

In [9]:
file_event_path = '/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v3.0/physionet.org/files/mimiciv/3.0/hosp/d_labitems.csv'

chunksize = 10**6
chunk_list = []

for chunk in pd.read_csv(file_event_path, chunksize=chunksize):
    chunk_list.append(chunk)
lab_items = pd.concat(chunk_list, axis=0)
lab_items

      itemid                                label             fluid   category
0      50801           Alveolar-arterial Gradient             Blood  Blood Gas
1      50802                          Base Excess             Blood  Blood Gas
2      50803  Calculated Bicarbonate, Whole Blood             Blood  Blood Gas
3      50804                 Calculated Total CO2             Blood  Blood Gas
4      50805                    Carboxyhemoglobin             Blood  Blood Gas
...      ...                                  ...               ...        ...
1645   53186                   Rapid COVID-19 PCR  Other Body Fluid  Chemistry
1646   53187                                  PAN             Stool  Chemistry
1647   53188                          Lymphocytes             Blood  Chemistry
1648   53189                       Platelet Count             Blood  Chemistry
1649   53190                                 MXD%             Blood  Chemistry

[1650 rows x 4 columns]

In [67]:
df = lab_items[lab_items['itemid'].isin([51274])]
df

     itemid label  fluid    category
459   51274    PT  Blood  Hematology

In [64]:
df = lab_items[lab_items['label'].fillna("").str.contains('Lactate', case=False)]
df

      itemid                           label                fluid   category
11     50813                         Lactate                Blood  Blood Gas
41     50843  Lactate Dehydrogenase, Ascites              Ascites  Chemistry
151    50954      Lactate Dehydrogenase (LD)                Blood  Chemistry
242    51054  Lactate Dehydrogenase, Pleural              Pleural  Chemistry
911    51795      Lactate Dehydrogenase, CSF  Cerebrospinal Fluid  Chemistry
1035   51944    Lactate Dehydrogenase, Stool                Stool  Chemistry
1516   52442                         Lactate                Blood  Blood Gas
1642   53183                         Lactate                Blood  Chemistry

In [33]:
lab_items[lab_items['itemid'] == 52456]

Empty DataFrame
Columns: [itemid, label, fluid, category]
Index: []

In [52]:
file_event_path = '/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/labevents.csv'

chunksize = 10**6
chunk_list = []

for chunk in pd.read_csv(file_event_path, chunksize=chunksize):
    filtered_chunk = chunk[chunk['itemid'].isin([50811, 51222, 50810, 51221])]
    if not filtered_chunk.empty:
        chunk_list.append(filtered_chunk)
labevents = pd.concat(chunk_list, axis=0)

In [57]:
labevents[labevents['specimen_id']==57642047]

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
7161,7172,10000980,25242409.0,57642047,50810,NaN,2191-04-04 16:30:00,2191-04-04 16:31:00,25,25.0,%,NaN,NaN,NaN,NaN,NaN
7162,7173,10000980,25242409.0,57642047,50811,NaN,2191-04-04 16:30:00,2191-04-04 16:31:00,8.2,8.2,g/dL,12.0,16.0,abnormal,NaN,NaN

In [7]:
labevents[labevents['value'] == 'ART.']

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
4093,4100,10000904,NaN,59130563,52033,NaN,2180-10-07 10:24:00,2180-10-07 10:25:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
5467,5477,10000935,25849114.0,42157155,52033,NaN,2187-10-22 15:40:00,2187-10-22 15:40:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
16530,16551,10001884,26184834.0,58581367,52033,NaN,2131-01-10 13:15:00,2131-01-10 13:16:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
16608,16631,10001884,26184834.0,12991643,52033,NaN,2131-01-11 03:42:00,2131-01-11 03:44:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
16760,16783,10001884,26184834.0,47787883,52033,NaN,2131-01-12 21:04:00,2131-01-12 21:08:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118171027,118352164,19999840,21033226.0,55048267,52033,NaN,2164-09-17 08:11:00,2164-09-17 08:12:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
118171071,118352209,19999840,21033226.0,65766133,52033,NaN,2164-09-17 13:34:00,2164-09-17 13:36:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
118171161,118352300,19999987,NaN,5532443,52033,NaN,2145-11-02 20:27:00,2145-11-02 20:28:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
118171207,118352346,19999987,23865745.0,90055536,52033,NaN,2145-11-03 05:28:00,2145-11-03 05:31:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___
118171237,118352376,19999987,23865745.0,28363140,52033,NaN,2145-11-04 07:18:00,2145-11-04 07:19:00,ART.,NaN,NaN,NaN,NaN,NaN,NaN,___

In [37]:
file_event_path = '/media/data/huyennm/mimic-iv/mimic-derived/derived_database/bg.csv'

chunksize = 10**6
chunk_list = []

for chunk in pd.read_csv(file_event_path, chunksize=chunksize):
    chunk_list.append(chunk)
bg = pd.concat(chunk_list, axis=0)

In [38]:
bg[~bg['spo2'].isna()]

,subject_id,hadm_id,charttime,specimen,so2,spo2,po2,pco2,fio2_chartevents,fio2,...,hemoglobin,carboxyhemoglobin,methemoglobin,chloride,calcium,temperature,potassium,sodium,lactate,glucose
0,19811045,27885031.0,2162-07-13 04:07:00,ART.,NaN,97.0,105.0,37.0,50.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN
1,19811045,27885031.0,2162-07-14 14:20:00,VEN.,NaN,97.0,34.0,45.0,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5,152.0
2,19811138,26119621.0,2172-05-31 04:09:00,VEN.,NaN,94.0,33.0,28.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.07,35.9,NaN,NaN,9.4,NaN
3,19811879,27935722.0,2183-08-16 21:45:00,ART.,NaN,100.0,126.0,27.0,50.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,19812073,26099257.0,2149-04-08 10:52:00,CENTRAL VENOUS.,NaN,92.0,40.0,75.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697412,17649217,29476837.0,2114-08-01 14:04:00,ART.,NaN,95.0,77.0,42.0,50.0,50.0,...,NaN,NaN,NaN,NaN,NaN,37.2,NaN,NaN,NaN,162.0
697413,17649217,29476837.0,2114-08-02 02:22:00,ART.,NaN,96.0,108.0,48.0,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697414,17649796,25635238.0,2129-01-14 02:02:00,ART.,NaN,100.0,190.0,32.0,35.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.2,NaN,NaN,NaN
697415,17650265,28377727.0,2202-03-17 00:14:00,ART.,NaN,100.0,103.0,31.0,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697416,17651038,21747890.0,2186-02-28 17:12:00,VEN.,NaN,99.0,36.0,33.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6,NaN

In [11]:
mv_duration = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/derived_database/ventilation_durations.csv')
mv_duration

,stay_id,ventnum,starttime,endtime,duration_hours
0,30000153,1,2174-09-29 12:00:00,2174-09-29 17:43:00,5.716667
1,30000213,1,2162-06-21 05:00:00,2162-06-22 07:00:00,26.000000
2,30000831,1,2140-04-18 00:00:00,2140-04-18 08:00:00,8.000000
3,30001148,1,2156-08-30 14:00:00,2156-08-30 17:00:00,3.000000
4,30001656,1,2177-03-15 17:32:00,2177-03-16 10:13:00,16.683333
...,...,...,...,...,...
52537,39997710,8,2134-03-07 20:00:00,2134-03-08 00:00:00,4.000000
52538,39997753,1,2110-09-11 23:00:00,2110-09-12 15:54:00,16.900000
52539,39998012,1,2133-02-03 15:00:00,2133-02-08 18:57:00,123.950000
52540,39998622,1,2135-02-11 18:15:00,2135-02-19 11:35:00,185.333333
52541,39999552,1,2186-07-17 16:00:00,2186-07-17 22:41:00,6.683333

In [55]:
procedure = pd.read_csv('/media/data/huyennm/mimic-iv/notebook/comorbidity/comorbidity_results/patients_with_comorbidity.csv')

In [56]:
procedure[procedure['stay_id'] == 39192601]

Empty DataFrame
Columns: [subject_id, hadm_id, stay_id, sepsis, anemia, ami, ventricular_arrhythmia, diabetes, valvular_disease, ckd, pneumonia, copd, atrial_fibrillation, aki, angina_pectoris, liver_cirrhosis, pleural_effusion, omi, hypertension, hepatitis, stroke, pe]
Index: []

[0 rows x 22 columns]

In [6]:
weight_dur = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/derived_database/sofa.csv')
weight_dur.head()

,stay_id,hr,starttime,endtime,pao2fio2ratio_novent,pao2fio2ratio_vent,rate_epinephrine,rate_norepinephrine,rate_dopamine,rate_dobutamine,...,cardiovascular,cns,renal,respiration_24hours,coagulation_24hours,liver_24hours,cardiovascular_24hours,cns_24hours,renal_24hours,sofa_24hours
0,30014281,0,2187-04-28 00:00:00,2187-04-28 01:00:00,NaN,NaN,NaN,0.170043,NaN,NaN,...,4.0,0.0,4.0,0,0,2,4,0,4,10
1,30014281,1,2187-04-28 01:00:00,2187-04-28 02:00:00,NaN,NaN,NaN,0.189764,NaN,NaN,...,4.0,NaN,NaN,0,0,2,4,0,4,10
2,30014281,2,2187-04-28 02:00:00,2187-04-28 03:00:00,NaN,NaN,NaN,0.160243,NaN,NaN,...,4.0,NaN,NaN,0,0,2,4,0,4,10
3,30014281,3,2187-04-28 03:00:00,2187-04-28 04:00:00,NaN,NaN,NaN,0.160243,NaN,NaN,...,4.0,0.0,NaN,0,0,2,4,0,4,10
4,30014281,4,2187-04-28 04:00:00,2187-04-28 05:00:00,NaN,NaN,NaN,0.130223,NaN,NaN,...,4.0,NaN,NaN,0,0,2,4,0,4,10

In [13]:
weight_dur

,stay_id,hr,starttime,endtime,pao2fio2ratio_novent,pao2fio2ratio_vent,rate_epinephrine,rate_norepinephrine,rate_dopamine,rate_dobutamine,...,cardiovascular,cns,renal,respiration_24hours,coagulation_24hours,liver_24hours,cardiovascular_24hours,cns_24hours,renal_24hours,sofa_24hours
0,30014281,0,2187-04-28 00:00:00,2187-04-28 01:00:00,NaN,NaN,NaN,0.170043,NaN,NaN,...,4.0,0.0,4.0,0,0,2,4,0,4,10
1,30014281,1,2187-04-28 01:00:00,2187-04-28 02:00:00,NaN,NaN,NaN,0.189764,NaN,NaN,...,4.0,NaN,NaN,0,0,2,4,0,4,10
2,30014281,2,2187-04-28 02:00:00,2187-04-28 03:00:00,NaN,NaN,NaN,0.160243,NaN,NaN,...,4.0,NaN,NaN,0,0,2,4,0,4,10
3,30014281,3,2187-04-28 03:00:00,2187-04-28 04:00:00,NaN,NaN,NaN,0.160243,NaN,NaN,...,4.0,0.0,NaN,0,0,2,4,0,4,10
4,30014281,4,2187-04-28 04:00:00,2187-04-28 05:00:00,NaN,NaN,NaN,0.130223,NaN,NaN,...,4.0,NaN,NaN,0,0,2,4,0,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8219116,39965348,35,2155-07-19 08:00:00,2155-07-19 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0,1,0,1,0,1,3
8219117,39965348,36,2155-07-19 09:00:00,2155-07-19 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0,1,0,1,0,1,3
8219118,39965348,37,2155-07-19 10:00:00,2155-07-19 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,0,1,0,1,0,1,3
8219119,39965348,38,2155-07-19 11:00:00,2155-07-19 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0,1,0,1,0,1,3
8219120,39965348,39,2155-07-19 12:00:00,2155-07-19 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,1,0,1,0,1,3

In [4]:
weight_dur['weight_type'].unique()

array(['admit', 'daily'], dtype=object)

In [51]:
dv = pd.read_csv('/media/data/huyennm/mimic-iv/notebook/comorbidity/comorbidity_results/patients_with_comorbidity.csv')
dv

,subject_id,hadm_id,stay_id,sepsis,anemia,ami,ventricular_arrhythmia,diabetes,valvular_disease,ckd,...,atrial_fibrillation,aki,angina_pectoris,liver_cirrhosis,pleural_effusion,omi,hypertension,hepatitis,stroke,pe
0,10001843,26133978,39698942,1,1,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
1,10002013,23581541,39060235,1,0,0,0,1,0,0,...,0,0,1,0,0,1,1,0,0,0
2,10002428,23473524,35479615,1,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,10002760,28094813,31831386,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,10003400,20214994,32128372,1,1,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10205,19997752,29452285,34531437,1,1,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
10206,19997760,25252564,33057362,1,0,0,0,1,0,0,...,1,1,0,0,0,0,1,0,1,0
10207,19998330,21135114,31417783,1,1,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
10208,19998330,24096838,33428243,1,1,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
10209,19998330,24492004,32641669,1,1,0,0,1,0,1,...,1,1,0,0,0,0,0,0,0,0

In [52]:
missing_percentage = (dv.isna().sum() / len(dv)) * 100

# Display the missing percentage for each column
missing_percentage

subject_id                0.0
hadm_id                   0.0
stay_id                   0.0
sepsis                    0.0
anemia                    0.0
ami                       0.0
ventricular_arrhythmia    0.0
diabetes                  0.0
valvular_disease          0.0
ckd                       0.0
pneumonia                 0.0
copd                      0.0
atrial_fibrillation       0.0
aki                       0.0
angina_pectoris           0.0
liver_cirrhosis           0.0
pleural_effusion          0.0
omi                       0.0
hypertension              0.0
hepatitis                 0.0
stroke                    0.0
pe                        0.0
dtype: float64

In [ ]:
dv

In [46]:
vent_dur = pd.read_csv('/media/data/huyennm/mimic-iv/notebook/comorbidity/comorbidity_runs/sorted.csv')
vent_dur

,stay_id,subject_id,hadm_id,sepsis,anemia,ami,ventricular_arrhythmia,diabetes,valvular_disease,ckd,...,atrial_fibrillation,aki,angina_pectoris,liver_cirrhosis,pleural_effusion,omi,hypertension,hepatitis,stroke,pe
0,30000213,13180007.0,27543152.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,30000831,15726459.0,22744101.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,30002548,14311522.0,24622512.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,30004391,18730522.0,21463350.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,30004530,12509799.0,25897223.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10206,39992578,19774838.0,28109956.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
10207,39995452,13625156.0,27789099.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10208,39995735,11539827.0,21192405.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10209,39996123,12616907.0,21185436.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10210,39998622,19046950.0,24352151.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [36]:
vent_dur[vent_dur['stay_id'] == 32456008]

,subject_id,hadm_id,stay_id,sepsis,anemia,ami,ventricular_arrhythmia,diabetes,valvular_disease,ckd,...,atrial_fibrillation,aki,angina_pectoris,liver_cirrhosis,pleural_effusion,omi,hypertension,hepatitis,stroke,pe
6051,15831913,27112445,32456008,1,1,0,0,1,1,1,...,0,1,0,0,0,0,0,0,0,0

In [47]:
vent_dur.dtypes

stay_id                     int64
subject_id                float64
hadm_id                   float64
sepsis                    float64
anemia                    float64
ami                       float64
ventricular_arrhythmia    float64
diabetes                  float64
valvular_disease          float64
ckd                       float64
pneumonia                 float64
copd                      float64
atrial_fibrillation       float64
aki                       float64
angina_pectoris           float64
liver_cirrhosis           float64
pleural_effusion          float64
omi                       float64
hypertension              float64
hepatitis                 float64
stroke                    float64
pe                        float64
dtype: object